@use "../Main" as *;
.input-group {
  > input[type="text"] {
    @extend %search_input;
  }
}
.btn-primary {
  @extend %btn-primary;
}
.fa-play::before,
.fa-circle-check::before {
  font-size: map-get($map: $sizes, $key: _90);
}
.card {
  @extend %base-border;

  .card-img-top {
    height: 10rem;
    @include respond-to(sm) {
      height: 13rem;
    }
  }
  .card-img-overlay {
    background: rgba(0, 0, 0, 0.25);
    opacity: 0;
    @extend %transition-opacity;
    &:hover {
      opacity: 1;
    }
  }
  // Breakpoint
  @include respond-to(lg) {
    text-align: center;
  }
}

.card-body {
  & > .card-title {
    @extend %two_line_ellipsis;
    @extend %Oswald;
  }
  & > .card-text {
    font-variant: small-caps;
    @extend %one_line_ellipsis;
  }
}

.page-link {
  @extend %btn-primary;
}
