@use "../../0-abstract/abstract-dir/transition" as *;
@mixin button($bg: var(--darkest_black), $color: var(--teal)) {
  background-color: $color;
  color: $bg;
  border: 1px solid currentColor;
  @extend %transition-background;

  &:hover {
    background-color: $bg;
    color: $color;
    border: 1px solid currentColor;
  }

  &:active,
  &.show {
    background-color: var(--aqua) !important;
    color: var(--darkest_black) !important;
    border: 1px solid currentColor !important;
  }
}
%btn-primary {
  @include button();
}
